.fin
{
  text-decoration: none;
  border: none;
  border-bottom: 1px solid green;
  height:50px;
  width:200px;
  padding-top:10px;
  
}
.err
{
  margin-left:180px;
}
.r1
{
  border-bottom: 2px solid green;
}